name: main
on:
  push:
    branches: [master]
  schedule:
  - cron: '15 8 * * *'

jobs:
  build:
    name: main
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
    - run: pip install pre-commit-mirror-maker
    - run: git config --global user.name 'Github Actions'
    - run: git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
    - run: pre-commit-mirror . --language=node --package-name=prettier --types=css,html,graphql,markdown,javascript,json,typescript,yaml --entry='prettier --write --list-different --ignore-unknown' --id=prettier
    - run: |
        git remote set-url origin https://x-access-token:$GH_TOKEN@github.com/$GITHUB_REPOSITORY
        git push origin HEAD:refs/heads/master --tags
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
